/**
 * Arrow
 */

 .arrow {
  @include transition(transform .3s ease);

  border: solid $white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;

  &--up {
    @include transform(rotate(-135deg));
  }

  &--down {
    @include transform(rotate(45deg));
  }

  &--left {
    @include transform(rotate(135deg));
  }

  &--right {
    @include transform(rotate(-45deg));
  }
 }