/**
 * Page
 */

.page {
  &-enter-active,
  &-leave-active {
    transition: opacity .5s ease-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-content {
    @include box-sizing(border-box);

    height: calc(100vh - 75px);
    max-width: $content-max-width;
    padding: 40px 20px;
    margin: 0 auto;

    @include bp-medium {
      padding: 60px 30px;
    }
  }
}
