/**
 * Breakpoints: Widths
 */

$page-max-width: 1920px;
$content-max-width: 1640px;

$min-width-smallest: 360px; // Minimal width suported
$max-width-small: 767px; // For general Mobile targeting
$min-width-medium: 768px; // Major site breakpoint
$min-width-large: 1200px; // Minor breakpoint where Tablet ends

/* Components Breakpoints */
//$min-width-page-hero: 350px;
