/**
 * Fonts: Variables
 */

$default-font-size: 12;

/* Virtual Fonts */
// Using Open Sans as a replacement for AS Circular, Helvetica Neue (the fonts that Alaska Airlines uses in their nav)
$open-sans: 'Open Sans';

$open-sans-family: $open-sans, sans-serif;


/* Physical Fonts */
//$font-bold: 'Font-Bold';
//$font-light: 'Font-Light';

//$font-bold-family: $font-bold, sans-serif;
//$font-light-family: $font-light, sans-serif;

/* Icons */
//$project-icons: 'project-icons';
