/**
 * Modifiers
 */

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.hidden-mobile {
  display: none !important;

  @include bp-medium {
    display: block !important;
  }
}

.inline-hidden-mobile {
  display: none !important;

  @include bp-medium {
    display: inline !important;
  }
}

.visible-mobile {
  display: block !important;

  @include bp-medium {
    display: none !important;
  }
}

.mobile-modal-open {
  @include bp-small {
    position: relative;
    overflow: hidden;
  }
}

.mobile-overlay-open {
  @include bp-small {
    overflow: hidden;
  }
}

.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
